<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SmartHome</display-name>
  <servlet>
    <servlet-name>saveTemperature</servlet-name>
    <servlet-class>servlet.SaveTemperature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveTemperature</servlet-name>
    <url-pattern>/SaveTemperature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveHumidity</servlet-name>
    <servlet-class>servlet.SaveHumidity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveHumidity</servlet-name>
    <url-pattern>/SaveHumidity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadImage</servlet-name>
    <servlet-class>servlet.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTH</servlet-name>
    <servlet-class>servlet.GetTemperatureAndHumidity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTH</servlet-name>
    <url-pattern>/GetTemperatureAndHumidity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCameraSnaps</servlet-name>
    <servlet-class>servlet.GetCameraSnaps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCameraSnaps</servlet-name>
    <url-pattern>/GetCameraSnaps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getHLWithPoint</servlet-name>
    <servlet-class>servlet.GetHumidityListWithPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getHLWithPoint</servlet-name>
    <url-pattern>/GetHumidityListWithPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTLWithPoint</servlet-name>
    <servlet-class>servlet.GetTemperatureListWithPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTLWithPoint</servlet-name>
    <url-pattern>/GetTemperatureListWithPoint</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>test.jsp</welcome-file>
  </welcome-file-list>
</web-app>